@import "~reset-css/reset.css";
@import "variables.css";

html,
body {
  font-family: 'Source Sans', sans-serif;
}

body {
  line-height: 1.5em;
  font-size: 1.0em;

  @media (width > 960px) {
    font-size: 1.2em;
  }
}

* {
  box-sizing: border-box;
}
