@import "~reset-css/reset.css";

html,
body {
  font-family: 'Source Sans', sans-serif;
}

body {
  line-height: 1.5em;
  font-size: 1.0em;

  @media (width > 640px) {
    font-size: 1.1em;
  }

  @media (width > 960px) {
    font-size: 1.2em;
  }
}
